@import "../../../variables";
.toastContainer {
    position: fixed;
    bottom: 9%;
    right: 0;
}
.suggestionsContainer {
    position: fixed;
    z-index: 0;
    bottom: 7%;
    left: 26%;
    width: 20%;
    text-align: center;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 5px 0;
    box-sizing: border-box;

    .suggestion {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px;
        background-color: $beige;
    }

    .suggestion:hover {
        cursor: pointer;
        background-color: #f0e6dc;
    }
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    /* border: 1px solid red; */
    .searchBox {
        width: 40%;
        /* border: 1px solid blue; */
    }
    .pillBox {
        overflow: auto;
        height: 7vh;
        width: 40%;
        /* border: 1px solid red; */
        /* display: flex; */
        padding-inline: 25px;

        .pill {
            font-size: 10pt;
            background-color: $matcha;
            border-radius: 15px;
            width: auto;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .pillText {
                margin-left: 10px;
            }

            .closeButton {
                margin-right: 5px;
            }
        }
    }

    .clearBox {
        width: 20%;
        padding-inline: 15px;
    }
}
