.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    .optionSelectContainer {
        margin-right: 1em;
        /* display: flex; */
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }
    .ascendingContainer {
        /* width: 100%; */
    }
}
