.container {
    width: 100vw;

    .searchBarContainer {
        /* position: relative; */
    }
    .content {
        width: 100vw;
        height: 85vh;
        /* border: 1px solid red; */
        overflow: auto;
        .dogGallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            padding: 20px;
            width: 100%;
            max-width: 90%;
            margin: 0 auto;
            height: auto;
        }

        .loaderContainer {
            height: 85vh;
        }
    }
}
