@import "../../variables";

.container {
    /* position: fixed; */
    bottom: 0;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-inline: 20px;
    background-color: $beige-brown;
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    .filterContainer,
    .searchContainer,
    .pageContainer {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .filterContainer {
        flex: 0;
        padding-inline: 25px;
        /* border: 1px solid red; */
    }
    .searchContainer {
        //center
        flex: 1;
    }
    .pageContainer {
        //right
        flex: 0;
        margin-top: 1em;
        padding-inline: 15px;
    }
}

.suggestionsContainer {
    position: fixed;
    bottom: 7%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    margin-top: 5px;
    padding: 5px 0;
    box-sizing: border-box;
    .suggestion {
    }
}

.pillBox {
    overflow: auto;
    height: 7vh;
}
